@font-face {
    font-family: GaMaamli-Regular;
    src: url("assets/fonts/GaMaamli-Regular.ttf");
  }
  * {
    box-sizing: border-box;
  }
  /* @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  } */
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    /* width: 1100px; */
    
  }
  /* .header{
    display: flexbox;
  }
  .main{
    display: flexbox;
  } */
  
  .main-section-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  /* .container {
    max-width: 1440px;
    margin: 0 auto;
  } */
  .nav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
  }
  /* .nav-list {
    list-style: none;
  } */
   .nav-item {
    
    background-color: aqua;
    margin: 5px;
    /* padding: 20px; */
   }
   
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .code{
    display:flex;
    align-content: center;
    font-size: small;
    margin:20px 200px;
    background-color:antiquewhite;
  }
  .code-text{
    display: flex;
    width: 100%;
  }
  .footer{
    display: flex;
    align-content: center;
    background-color: aqua;
  }
  .footer-item {
    /* background-color: aqua; */
    margin: 5px;
    padding: 20px;
    width: 33%;
    align-content: center;
   }
  
  .inner-section{
    width: 40%;
    margin: 50px;
  }
  .section-title-h1{
    font-size: 50px;
    margin-top: 0;
  }