@font-face {
    font-family: GaMaamli-Regular;
    src: url("assets/fonts/GaMaamli-Regular.ttf");
  }
  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
    font-size: 20px;
    width: 1000px;
  }
  .container{
    background-color: azure;
    padding: 50px;
  }
  
  .main-section-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
  }

   .nav-item {
    
    background-color: aqua;
    margin: 5px;
   }
   
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .code-text{
    background-color:antiquewhite;
    align-content: center;
    display: flex;
    font-size: small;
    width: 70%;
    margin: 0 50px;
  }
  .footer{
    display: flex;
    align-content: center;
    background-color: aqua;
  }
  .footer-item {
    margin: 5px;
    padding: 20px;
    width: 33%;
    align-content: center;
   }
  
  .inner-section{
    width: 40%;
    margin: 40px;
  }
 
  .section-title-h1{
    font-size: 50px;
    margin-top: 0;
  }