@font-face {
  font-family: OpenSans-Regular;
  src: url("../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

:root {
  --spacing-3: 3rem;
  --spacing-0-5: 0.5rem;
  --spacing-1: 1rem;

  --color-primary: azure;
  --color-background: rgb(83, 83, 83);
  --color-foreground: rgb(17, 23, 66);
  --color-hover: rgb(34, 216, 240);
  --color-code: rgb(163, 185, 206);

  --box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  --box-shadow-light: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
  --box-shadow-bottom: 0 0.3rem 0.3rem -2px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "OpenSans-Regular";
  font-size: medium;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-foreground);
}

.link-wrapper {
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
  width: fit-content;
  box-shadow: var(--box-shadow-light);
  &:hover {
    a {
      color: var(--color-hover);
    }
    box-shadow: var(--box-shadow);
  }
}

ul {
  list-style: none;
}

.styled-list {
  list-style-type: disc;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow-bottom);
}

h3 {
  padding-bottom: 1.5rem;
}

th {
  padding-right: 1rem;
  text-align: left;
}

th,
td {
  padding-bottom: 0.5rem;
  vertical-align: top;
}

.flex-column-05 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-column-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-column-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-column-3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.flex-column-5 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  min-width: 380px;
  background-color: var(--color-primary);
}

.container-item {
  width: 100%;
  padding: 1rem 0rem;
}

.header {
  width: 110%;
  padding: 1.5rem 3rem 2rem 3rem;
  position: sticky;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(15px);
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.nav-item {
  font-size: medium;
}

.main {
  justify-content: space-between;
}

.main-section-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.inner-section {
  min-width: 350px;
  width: 40%;
}

.avatar {
  width: 100%;
  min-width: 350px;
  height: auto;
  box-shadow: var(--box-shadow);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-description {
  font-size: larger;
}

.about-text {
  text-align: justify;
}

.skills-text {
  font-size: larger;
  display: flex;
  justify-content: space-between;
}

.code-text {
  background-color: var(--color-code);
  align-content: center;
  display: flex;
  font-size: small;
  width: 70%;
  margin: 0 50px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;
}

.project-card {
  width: 17rem;
  box-shadow: var(--box-shadow-light);
  padding: 1.5rem;
}

.card-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.project-card-description-title {
  padding-bottom: 0.5rem;
}

.project-card-description-text {
  text-align: justify;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  align-content: center;
}

.footer-logo {
  width: 4rem;
  height: auto;
}

.footer-github {
  width: 2rem;
  height: auto;
}
